<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script type="module" src="./js/vue.min.js"></script>
  <script type="module" src="./js/traits.js" defer></script>
  <script type="module" src="./js/actions.js" defer></script>
  <script type="module" src="./js/parts.js" defer></script>
  <script type="module" src="./js/app.js" defer></script>
  <title>Document</title>
</head>

<body>
  <header class="no-print">
    <h1 class="bold header ">Xuul Media</h1>
  </header>


  <div id="app" class="wrapper">
    <main>
      <h2 class="center bold no-print">Reaper Generator</h2>
      <hr class="no-print">
      <div class="control-panel">
        <div class="control-panel-section right-div no-print">
          <table class="control-panel-table">
            <tr>
              <th> <label for="Toggle Soul">Enable <span><select class="sevenStat" v-bind:disabled="rolled"
                      id="solType">
                    <option selected="1">Soul</option>
                    <option value="2">(WIP)</option>
                  </select>
                  </span>?</label></th>
              <td> <input class="checkbox" type="checkbox" name="Toggle Soul" v-model="soul" v-bind:disabled="rolled"
                  checked></td>
            </tr>
            <tr>
              <th><label for="challengeRating">Challenge Rating</label></th>
              <td><select class="dropdown" v-model="challengeRating" v-bind:disabled="rolled" id="crLevel">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option selected="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select></td>
            </tr>
            <tr>
              <th><label for="homebrew">Homebrew Markup</label></th>
              <td><input type="checkbox" name="homebrew" v-model="homebrew" ></td>
            </tr>
          </table>
        </div>

        <div class="control-panel-section left-div no-print">
          <table class="control-panel-table">
            <tr>
              <td>
                <button class="button" v-on:click="rollTheDice" v-bind:disabled="rolled">Roll the Dice</button>
                <button class="button" v-on:click="confirmTheRoll" v-bind:disabled="!firstRoll">Confirm Roll</button>
                <button class="button" v-on:click="generateReaper" v-bind:disabled="!rolled">Generate Reaper</button>
                <button class="button reset" v-on:click="reset">Reset</button></td>

            </tr>
            <tr>
              <td><input type="text" name="reaperNamer" class="Reaper-namer" placeholder="Optional: Name your Reaper"
                  v-model="name" v-bind:disabled="rolled"></td>

            </tr>

          </table>
        </div>
      </div>


      <div class="wrapper-internal">
        <div class="stat-container no-print">
          <table class="stat-display">
            <tr>
              <th class="bold underline">Statistic</td>
              <th class="bold underline">Value</td>
              <th class="bold underline">Override</th>
            </tr>
            <tr>
              <td>STR</td>
              <td><input type="number" name="STR" id="STR" min=1 max=20 v-model="str" v-bind:disabled="!overrideStr">
              </td>
              <td><input type="checkbox" v-model="overrideStr" v-bind:disabled="rolled"></td>
            </tr>
            <tr>
              <td>DEX</td>
              <td><input type="number" name="DEX" id="DEX" min=1 max=20 v-model="dex" v-bind:disabled="!overrideDex">
              </td>
              <td><input type="checkbox" v-model="overrideDex" v-bind:disabled="rolled" v-bind:disabled="!firstRoll">
              </td>
            </tr>
            <tr>
              <td>CON</td>
              <td><input type="number" name="CON" id="CON" min=1 max=20 v-model="con" v-bind:disabled="!overrideCon">
              </td>
              <td><input type="checkbox" v-model="overrideCon" v-bind:disabled="rolled"></td>
            </tr>
            <tr>
              <td>INT</td>
              <td><input type="number" name="INT" id="INT" min=1 max=20 v-model="int" v-bind:disabled="!overrideInt">
              </td>
              <td><input type="checkbox" v-model="overrideInt" v-bind:disabled="rolled"> </td>
            </tr>
            <tr>
              <td>WIS</td>
              <td><input type="number" name="WIS" id="WIS" min=1 max=20 v-model="wis" v-bind:disabled="!overrideWis">
              </td>
              <td><input type="checkbox" v-model="overrideWis" v-bind:disabled="rolled"> </td>
            </tr>
            <tr>
              <td>CHA</td>
              <td><input type="number" name="CHA" id="CHA" min=1 max=20 v-model="cha" v-bind:disabled="!overrideCha">
              </td>
              <td><input type="checkbox" v-model="overrideCha" v-bind:disabled="rolled"> </td>
            </tr>
            <tr v-if='soul'>
              <td>SOL</td>
              <td><input type="number" name="SOL" id="SOL" min=1 max=20 v-model="sol" v-bind:disabled="!overrideSol">
              </td>
              <td><input type="checkbox" v-model="overrideSol" v-bind:disabled="rolled"> </td>
            </tr>
            <tr>
              <td> </td>
            </tr>
            <tr>
              <td>Health</td>
              <td><input type="number" name="HP" id="HP" min=1 max=400 v-model="HP" v-bind:disabled="!overrideHP"></td>
              <td><input type="checkbox" v-model="overrideHP" v-bind:disabled="rolled"> </td>
            </tr>
            <tr>
              <td>AC</td>
              <td><input type="number" name="AC" id="AC" min=1 max=30 v-model="AC" v-bind:disabled="!overrideAC"></td>
              <td><input type="checkbox" v-model="overrideAC" v-bind:disabled="rolled"> </td>
            </tr>
          </table>

        </div>
        <div class="stat-container no-print">

        </div>
        <div v-if="devloperMode" class="dev-display">
          <h4> Dev Display </h4>
          <p>{{ size }} HP {{ HP }} AC {{ AC}} </p>
          <p> str = {{str}} {{strMod}} </p>
          <p> dex = {{dex}} {{dexMod}} </p>
          <p> con = {{con}} {{conMod}} </p>
          <p> int = {{int}} {{intMod}} </p>
          <p> wis = {{wis}} {{wisMod}} </p>
          <p> cha = {{cha}} {{chaMod}} </p>
          <p v-if='soul'> sol = {{sol}} {{solMod}} </p>
          <p> alltraits = {{traits}} </p>
        </div>
      </div>



      
      <h3 class="center bold no-print">Reapers</h3>
      <hr class="no-print">
      <div class="reaper-card-deck">
        <div class="card" v-for="index of reapers" v-if="!homebrew">

          <h4 class="card-title">{{index.name}} {{index.lastName}} <p class="left-div inline">CR: {{index.CR}}</p>
          </h4>
          <h6 class="card-subtitle">{{index.size}} Demon, {{alignment}} </h6>
          <hr />
          <div class="card-text">
            <p> Armor Class: {{index.AC}}</p>
            <p> Hit Points: {{index.HP}}</p>
            <p> Speed: {{index.speed}} {{index.speedType}}</p>
          </div>
          <hr />
          <table class="card-table">
            <thead>
              <tr>
                <th>STR</th>
                <th>DEX</th>
                <th>CON</th>
                <th>INT</th>
                <th>WIS</th>
                <th>CHA</th>
                <th v-if='soul'>SOL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="reaper-stat">{{index.str}} ({{index.strMod}})</td>
                <td class="reaper-stat">{{index.dex}} ({{index.dexMod}})</td>
                <td class="reaper-stat">{{index.con}} ({{index.conMod}})</td>
                <td class="reaper-stat">{{index.int}} ({{index.intMod}})</td>
                <td class="reaper-stat">{{index.wis}} ({{index.wisMod}})</td>
                <td class="reaper-stat">{{index.cha}} ({{index.chaMod}})</td>
                <td class="reaper-stat" v-if='soul'>{{index.sol}} ({{index.solMod}}) </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <div class="trait-action">
            <p><strong>Traits:</strong></p>
            <p v-for="index of index.traits">{{index}}</p>
            <p><strong>Actions:</strong></p>
            <p v-for="index of index.actions">{{index}}</p>
            <hr>
            <p><strong>Parts: </strong><span>{{index.head}} | {{index.arms}} | {{index.body}} | {{index.legs}}</span>
            </p>
          </div>
        </div>

      </div>
      <div v-for="index of reapers" v-if="homebrew">
        <!-- <button>Copy</button> -->
          <textarea v-on:click="copyReaper"  v-bind:id="['reaper-' + index.number]" cols="50" rows="10">
___
> ## {{index.name}} {{index.lastName}}
>*{{index.size}} Demon, Chaotic Evil*
> ___
> - **Armor Class** {{index.AC}}
> - **Hit Points** {{index.HP}}
> - **Speed** {{index.speed}} {{index.speedType}}
> ___
>|STR|DEX|CON|INT|WIS|CHA|
>|:---:|:---:|:---:|:---:|:---:|:---:|
>|{{index.str}} ({{index.strMod}})|{{index.dex}} {{index.dexMod}}|{{index.con}} {{index.conMod}}|{{index.int}} {{index.intMod}}|{{index.wis}} {{index.wisMod}}|{{index.cha}} {{index.chaMod}}|
>___
> - {{index.head}} | {{index.arms}} |
> - {{index.body}} | {{index.legs}} |
> ___
> {{index.traits[0]}}
> {{index.traits[1]}}
> {{index.traits[2]}}
> {{index.traits[3]}}
> {{index.traits[4]}}
> {{index.traits[5]}}
> {{index.traits[6]}}
> ### Actions
> {{index.actions[0]}}
> {{index.actions[1]}}
> {{index.actions[2]}}
> {{index.actions[3]}}
> {{index.actions[4]}}
> {{index.actions[5]}}
> {{index.actions[6]}}
</textarea>
        </div>

    </main>
    <aside class="no-print">
      <h3>About</h3>
      <p>The Reaper Generator is my first coding project in Javascript. This generator is version 2, using more elegant
        coding and custom CSS.</p>
      <p>Reapers are based on the monsters from the up and coming video game <a href="https://www.shoelacegames.com/"
          target="new">Catacombs</a>.</p>
      <p>This project contains a method to render the monsters in a format that should be compatible with <a href="https://homebrewery.naturalcrit.com/" target="new">The Homebrewery</a>.</p>
      <br>
      <h4>What are Reapers?</h4>
      <p>Reapers are the lowest and most common form of demons in the realm of Glenora. A reaper is essentially a
        randomly built assortment of parts assembled in a fleshworks. The skills and abilities of a reaper varies wildly
        depending on the skill of the creature that assembled it and the power of the demon soul within the body.</p>
      <p>Due to the random nature of reapers, this generator will use true randomness to 'assemble' a reaper, using
        pools of available parts (each with their own traits and actions) as well as randomized statistic rolls for use
        in a D20 style RPG. Higher stat rolls increase the number of possible limbs (higher numbers allow more powerful
        features to be chosen), but due to the still random nature of a reaper this still leaves the possiblility of a
        'suboptimal' body part being chosen.</p>
      <p>This system is almost certianly imbalanced for play, but I have personally found it adds an element of
        uncertianty when added to an adventure. Players will never know if this reaper is one they can easily defeat or
        a powerful foe that would best be avoided.
        <p>For those seeking a more tailored experience the generator permits overriding of some statistics, however
          this still only opens up the pool of parts to the specified level. Your reaper still may end up weak if the
          'dice' roll poorly for part selection. If you want balance, then it is up to you as a DM to only use the
          reapers
          you think will fit the situation.</p>
        <p>Possible Future plans for this generator include
          <ul>
            <li>A password or code system to unlock special custom tailored reapers</li>
            <li>More variety of parts / traits / actions. Possibly adding new part types (tails?)</li>
            <li>Support for other '7th' statistc models such as insanity, ect...</li>
          </ul>
        </p>
    </aside>





    <br>
    <footer class="no-print">
      <h6 class="copyright">Copyright Travis Pierce 2019</h6>
    </footer>
  </div>
</body>



</html>