:root {
    --New-Swatch: #030A22;
    --New-Swatch: #0D1845;
    --New-Swatch: #1D2C67;
    --New-Swatch: #33448A;
    --New-Swatch: #4F62AD;
    --New-Swatch: #7184D0;
    --New-Swatch: #9AACF2;

}

body {
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
  padding: 0 15rem;
}

.bold {
  font-weight: 700
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 2px solid black; /*training wheels */
  margin: auto
}

.wrapper-internal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black; /*training wheels */
  margin: auto
}

.text-container {
  margin: 2rem;
}

.reaper-card-deck {
  border: black 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.card {
  border: black 1px solid
}

.card {
  min-width: 370px
}

.button {
  padding: .5rem .5rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 15px;
  
}

.button:hover {
  background-color: #777;
  color: white;
}

header {
  background-color: #33448A;
  height: 3rem;
  padding: 1rem;
  color: white;
}

main {
  /* background-color: #7184D0; */
  padding: 0 2rem;
  color: black
}

table {
  margin: auto;
  margin-top: 1rem;

}


aside {
    background-color: #4F62AD;
    padding: 0 2rem;
    color: lightgray;
    
}

footer {
  background-color: #1D2C67;
  color: lightgray;
  grid-column: span 2;
  height: 2rem;
  margin: 0;
  justify-content: end;
}

ul {
  padding: 0 0 0 17px;
}

li {
  margin: 10px
}

h3 {
  margin-bottom: 5px
}

h4 {
  margin-bottom: 5px
}

h6 {
  margin:0;
}

.control-panel {
  padding: 2rem 0;
}

a {
  color: yellow;
}






/* Training Wheels */

/* header
{
  background-color: green;
}

main {
  background-color: red;
  text-align: center
}

aside {
  background-color: purple;
  padding: 0 1rem
}

footer {
  background-color: yellow;
  grid-column: span 2;
}

.control-panel  {
  border: 1px solid black;
}
.dev-display {
  border: 1px solid black;
}

.stat-containter{
  border: 1px solid black;
} */













